{layout $adminlayoutPath}

{block modals}
    <div class="modal fade" id="executeDepreciationsModal" tabindex="-1" aria-labelledby="executeDepreciationsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="executeDepreciationsLabel">Provést odpisy</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Opravdu chcete provést odpisy za rok <b class="js-modal-year"></b>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zpět</button>
                    <button type="button" class="btn btn-warning js-modal-execute-depreciations-confirm">Provést</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cancelExecutionModal" tabindex="-1" aria-labelledby="cancelExecutionLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="cancelExecutionLabel">Zrušit provedení odpisů</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Opravdu chcete zrušit provedení odpisů za rok <b class="js-modal-year"></b>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zpět</button>
                    <button type="button" class="btn btn-danger js-modal-cancel-execution-confirm">Zrušit provedení</button>
                </div>
            </div>
        </div>
    </div>
{/block}

{block content}
    <div class="js-page-depreciations">
        <h1>Odpisy k provedení</h1>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-xl-3 col-sm-6 col-12 mb-3">
                        <div class="main-card card">
                            <div class="card-body">
                                <div class="form-group d-flex mb-0" style="max-width: 300px; margin-right: 12px">
                                    <label for="yearSelect" style="font-size: 1.5rem; margin-right: 17px; margin-bottom: 0">Rok:</label>
                                    <select
                                        id="yearSelect"
                                        class="form-select"
                                        onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"
                                        style="margin-top: 7px"
                                    >
                                        <option value="">{$selectedYear}</option>
                                        {foreach $availableYears as $year}
                                            {if $year !== $selectedYear}
                                                <option value="{plink :default, $year}">{$year}</option>
                                            {/if}
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-sm-6 col-12 mb-3 d-flex" style="align-items: center">
                        <div style="margin-left: auto">
                            {if $isExecutionCancelAvailable}
                                <button
                                    type="button"
                                    class="js-cancel-execution-button btn btn-danger btn-lg"
                                    data-bs-toggle="modal"
                                    data-bs-target="#cancelExecutionModal"
                                    data-execute-year="{$selectedYear}"
                                >
                                    Zrušit provedení odpisů
                                </button>
                            {/if}
                            {if count($executableDepreciations) > 0}
                                <button
                                    type="button"
                                    class="js-execute-depreciations-button btn btn-warning btn-lg"
                                    style="margin-left: 30px"
                                    data-bs-toggle="modal"
                                    data-bs-target="#executeDepreciationsModal"
                                    data-execute-year="{$selectedYear}"
                                >
                                    Provést odpisy
                                </button>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <form n:name="cancelExecutedDepreciationsForm" class="js-cancel-execution-form">
            <div class="form-errors" n:ifcontent>
                <div n:foreach="$form->getOwnErrors() as $error" class="alert alert-danger custom-alert mt-2">{$error}</div>
            </div>
        </form>

        <form n:name="executeDepreciationsForm" class="js-execute-depreciations-form">

            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="main-card card">
                        <div class="card-body">
                            <div class="form-errors" n:ifcontent>
                                <div n:foreach="$form->getOwnErrors() as $error" class="alert alert-danger custom-alert mt-2">{$error}</div>
                            </div>
                            <div class="form-group">
                                <label for="executionDate">Provedeno k </label>
                                <input n:name="execution_date" type="date" class="form-control" id="executionDate">
                                <small class="form-error" n:ifcontent>{inputError execution_date}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row mb-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>K provedení za rok <b>{$selectedYear}</b></h5>
                    </div>
                    <div class="card-body ">
                        <div class="table-responsive px-3">
                            <table class="table table-bordered mt-3">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th colspan="3" style="font-size: 20px">Daňové</th>
                                        <th></th>
                                        <th colspan="3" style="font-size: 20px">Účetní</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>Majetek</th>
                                        <th>Inv. číslo</th>
                                        <th>Odp.sk.</th>
                                        <th>Odpis</th>
                                        <th>ZC</th>
                                        <th></th>
                                        <th>Odp.sk.</th>
                                        <th>Odpis</th>
                                        <th>ZC</th>
                                        <th>Rozdíl</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {foreach $executableDepreciations as $assetId => $depreciations}
                                    {var $depreciationTax = $depreciations["tax"] ?? null}
                                    {var $depreciationAccounting = $depreciations["accounting"] ?? null}
                                    {var $difference = $depreciations["diff"] ?? null}
                                    {var $asset = $assets[$assetId]}
                                    <tr>
                                        <td>
                                            <a n:href=":Admin:Asset:depreciations, $asset->getId()" class="clickable-link">{$asset->getName()}</a>
                                        </td>
                                        <td>
                                            {$asset->getInventoryNumber()}
                                        </td>
                                        {if $depreciationTax}
                                            <td>
                                                {$depreciationTax->getDepreciationGroup()->getFullName()}
                                            </td>
                                            <td>
                                                {$depreciationTax->getDepreciationAmount()}
                                            </td>
                                            <td>
                                                {$depreciationTax->getResidualPrice()}
                                            </td>
                                        {else}
                                            <td></td><td></td><td></td>
                                        {/if}
                                        <td></td>
                                        {if $depreciationAccounting}
                                            <td>
                                                {$depreciationAccounting->getDepreciationGroup()->getFullName()}
                                            </td>
                                            <td>
                                                {$depreciationAccounting->getDepreciationAmount()}
                                            </td>
                                            <td>
                                                {$depreciationAccounting->getResidualPrice()}
                                            </td>
                                        {else}
                                            <td></td><td></td><td></td>
                                        {/if}
                                        <td class="{if $difference}bg-danger{/if}">
                                            {$difference}
                                        </td>
                                    </tr>
                                {/foreach}
                                <tr>
                                    <td colspan="7"></td>
                                    <th colspan="2" style="text-align: right">Celkem rozdíl:</th>
                                    <td class="bg-secondary">{$totalDifference}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{/block}
