services:
    - App\Majetek\Components\AssetFormJsonGenerator

    - App\Majetek\Forms\AssetFormFactory

    - App\Majetek\Action\CreateAssetAction
    - App\Majetek\Action\EditAssetAction

    - App\Majetek\ORM\AssetTypeRepository
    - App\Majetek\ORM\AssetRepository
