services:
    - App\Majetek\Components\AssetFormJsonGenerator
    - App\Majetek\Components\MovementGenerator
    - App\Majetek\Components\ExportDialsDataGenerator
    - App\Majetek\Components\InventoryCardHtmlGenerator
    - App\Majetek\Latte\Filters\FloatFilter

    - App\Majetek\Forms\AssetFormFactory
    - App\Majetek\Forms\EditMovementFormFactory

    - App\Majetek\Action\CreateAssetAction
    - App\Majetek\Action\EditAssetAction
    - App\Majetek\Action\DeleteAssetAction
    - App\Majetek\Action\EditMovementAction
    - App\Majetek\Action\DeleteMovementAction

    - App\Majetek\ORM\AssetTypeRepository
    - App\Majetek\ORM\AssetRepository
    - App\Majetek\ORM\MovementRepository

