
<div class="flex-shrink-0 p-3 sidebar-mobile">
    <button class="btn navbar-toggle hamburger-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
        <i class="fa-solid fa-bars navbar-toggler fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
    </button>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
    <div class="offcanvas-header">
        <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
{*    <div class="offcanvas-body px-0">

    </div>*}


    {if isset($currentEntity) && $currentEntity !== null}
        <a href="{plink :Admin:Dashboard:default}" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold sidebar-title">{$currentEntity->getName()}</span>
        </a>
        <ul class="list-unstyled ps-0 links">

            {var $counter = 0}
            {foreach $sections as $section}
                {var $counter = $counter + 1}
                {var $isActive = $section->isActive()}
                {var $items = $section->getItems()}
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#menu-item-{$counter}" aria-expanded="{if $isActive}true{else}false{/if}">
                        {$section->getText()}
                    </button>
                    <div class="collapse{if $isActive} show{/if}" id="menu-item-{$counter}">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            {foreach $items as $item}
                                <li><a href="{$item->getLink()}" class="link-body-emphasis d-inline-flex text-decoration-none rounded {if $item->isActive()}item-active{/if}">{$item->getText()}</a></li>
                            {/foreach}
                        </ul>
                    </div>
                </li>
            {/foreach}
            <li class="border-top my-3"></li>
        </ul>
    {/if}
    <ul class="list-unstyled ps-0 links">
        <li class="mb-1">
            <div class="menu-signout d-flex flex-column">
                <div class="">
                    <a href="{$profileLink}" class="link-dark d-inline-flex text-decoration-none rounded{if $isProfileLinkActive === true} item-active{/if}">Profil</a>
                </div>
                <div class="">
                    <a href="{$entitiesLink[0]}" class="link-dark d-inline-flex text-decoration-none rounded{if $entitiesLink[1] === true} item-active{/if}">Účetní jednotky</a>
                </div>
            </div>
        </li>
        <li class="border-bottom my-3"></li>
    </ul>

    <div class="menu-signout links">
        <a href="{$signOutLink}" class="link-dark d-inline-flex text-decoration-none rounded">Odhlásit se</a>
    </div>
</div>


<div class="flex-shrink-0 p-3 sidebar" style="width: 230px;">
    {if isset($currentEntity) && $currentEntity !== null}
        <a href="{plink :Admin:Dashboard:default}" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold sidebar-title">{$currentEntity->getName()}</span>
        </a>
        <ul class="list-unstyled ps-0 links">

            {var $counter = 0}
            {foreach $sections as $section}
                {var $counter = $counter + 1}
                {var $isActive = $section->isActive()}
                {var $items = $section->getItems()}
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#menu-item-{$counter}" aria-expanded="{if $isActive}true{else}false{/if}">
                        {$section->getText()}
                    </button>
                    <div class="collapse{if $isActive} show{/if}" id="menu-item-{$counter}">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            {foreach $items as $item}
                                <li><a href="{$item->getLink()}" class="link-body-emphasis d-inline-flex text-decoration-none rounded {if $item->isActive()}item-active{/if}">{$item->getText()}</a></li>
                            {/foreach}
                        </ul>
                    </div>
                </li>
            {/foreach}
            <li class="border-top my-3"></li>
        </ul>
    {/if}
    <ul class="list-unstyled ps-0 links">
        <li class="mb-1">
            <div class="menu-signout d-flex flex-column">
                <div class="">
                    <a href="{$profileLink}" class="link-dark d-inline-flex text-decoration-none rounded{if $isProfileLinkActive === true} item-active{/if}">Profil</a>
                </div>
                <div class="">
                    <a href="{$entitiesLink[0]}" class="link-dark d-inline-flex text-decoration-none rounded{if $entitiesLink[1] === true} item-active{/if}">Účetní jednotky</a>
                </div>
            </div>
        </li>
        <li class="border-bottom my-3"></li>
    </ul>

    <div class="menu-signout links">
        <a href="{$signOutLink}" class="link-dark d-inline-flex text-decoration-none rounded">Odhlásit se</a>
    </div>
</div>
