html {
    height: 100%;
    min-height: 700px
}

body {
    height: 100%;
    min-height: 100% !important;
}

main {
    background-color: #f1f4f6;
    min-height: 100%;
}

.sidebar {
    background-color: white;
}

.main-content {
    padding: 40px;
}

.homepage-bg {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
    background-size: cover;
    min-height: 100%;
}

.form-box {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 0.76875rem 2.4875rem rgba(52,58,64,0.3);
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 500px;
}

.register-form-box {
    margin-top: 0;
}

.form-error {
    color: red;
}

.custom-alert {
    padding: 0.5rem 1rem;
}

.flash-message {
    position: fixed;
    width: 450px;
    margin: 25px auto;
    left: 0;
    right: 0;
    padding: 0.3rem 1.5rem;
    z-index: 10;
    display: flex;
}

.flash-message .btn-close {
    padding: 0.9rem 1rem;
}

.alert .close {
    margin-left: auto;
    font-size: 28px;
}

.flash-message-text {
    margin-top: 10px;
}

.menu-signout a {
    padding: .1875rem .5rem;
    margin-left: 20px;
    margin-top: 2px;
}

h1 {
    margin-bottom: 30px;
}

.form-group label {
    margin-bottom: 4px;
    margin-top: 7px;
    margin-left: 2px;
}

.main-content {
    width: 100%;
}

.card-active {
    border: #28a745 2px solid;
    min-height: 146px;
}

.entity-card {
    margin-bottom: 20px;
}

.ml-2 {
    margin-left: 0.7rem;
}
