{layout $adminlayoutPath}

{block modals}
    <div class="modal fade js-accounting-page" id="regenerateAccountingDataModal" tabindex="-1" aria-labelledby="regenerateAccountingDataLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="regenerateAccountingDataLabel">Přegenerování dat zaúčtování</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Opravdu chcete data vygenerovat znovu? Všechny změny budou ztraceny!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zpět</button>
                    <button type="button" class="btn btn-danger" id="regenerateDataConfirm">Přegenerovat</button>
                </div>
            </div>
        </div>
    </div>
{/block}

{block content}

<h1 class="js-accounting-page">Zaúčtování odpisů</h1>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="main-card card">
                <div class="card-body">
                    <div class="form-group d-flex mb-0" style="max-width: 300px; margin-right: 12px">
                        <label for="yearSelect" style="font-size: 1.5rem; margin-right: 17px; margin-bottom: 0">Rok:</label>
                        <select
                                id="yearSelect"
                                class="form-select"
                                onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"
                                style="margin-top: 7px"
                        >
                            <option value="">{$selectedYear}</option>
                            {foreach $availableYears as $year}
                                {if $year !== $selectedYear}
                                    <option value="{plink :depreciations, $year}">{$year}</option>
                                {/if}
                            {/foreach}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="float-end">
                <form n:name="regenerateDepreciationsAccountingDataForm" class="js-regenerate-form visually-hidden">
                </form>
                <a class="mt-3 btn rounded-3 btn-primary"
                   id="regenerate-accounting-data-button"
                   type="button"
                   data-bs-toggle="modal"
                   data-bs-target="#regenerateAccountingDataModal"
                >
                    Vygenerovat znovu z pohybů
                </a>
            </div>
        </div>
    </div>
    <form n:name="editDepreciationsAccountingDataForm" class="js-edit-accounting-data-form">
        <input n:name="export" id="js-accounting-export-input">

        <div class="form-errors" n:ifcontent>
            <div n:foreach="$form->getOwnErrors() as $error" class="alert alert-danger custom-alert mt-2">{$error}</div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Doplňkové údaje pro zaúčtování
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="originInput">Původ</label>
                                    <input n:name="origin" type="text" class="form-control" id="originInput">
                                    <small class="form-error" n:ifcontent>{inputError origin}</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="documentInput">Číslo úč. dokladu</label>
                                    <input n:name="document" type="number" step="1" max="1000000" class="form-control" id="documentInput">
                                    <small class="form-error" n:ifcontent>{inputError document}</small>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="monthInput">Měsíc zaúčtování</label>
                                    <input n:name="operation_month" type="number" step="1" min="1" max="12" class="form-control" id="monthInput">
                                    <small class="form-error" n:ifcontent>{inputError operation_month}</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="operationDate">Datum </label>
                                    <input n:name="operation_date" type="date" class="form-control" id="operationDate">
                                    <small class="form-error" n:ifcontent>{inputError operation_date}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive px-3 card-body">
                        <table class="table table-bordered js-table">
                            <thead>
                            <tr>
                                <th>Majetek</th>
                                <th>Datum</th>
                                <th>Účet</th>
                                <th>MD</th>
                                <th>DAL</th>
                                <th>Popis</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $accountingData->getArrayData() as $row}
                                {var $code = $row['code']}
                                <tr>
                                    <td>
                                        {var $asset = $assetArray[$row['code']]}
                                        {if $asset}<a n:href=":Admin:Asset:default, $asset->getId()">{$asset->getName()}</a> {/if}
                                    </td>
                                    {foreach $form[$code]->getComponents() as $name => $component}
                                        <td>
                                            {var $err = $component->hasErrors()}
                                            <input n:name="$component" class="form-control {if $err}is-invalid{/if}">
                                        </td>
                                    {/foreach}
                                </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-12">
            <a class="btn btn-primary mt-3" id="js-edit-accounting-data-form-submit">Uložit</a>
            <div class="float-end">
                <a class="btn btn-primary mt-3" id="js-export-excel-button" style="margin-right: 25px;">Export MS Excel</a>
                <a class="btn btn-primary mt-3" id="js-export-dbf-button">Export Šumava</a>
            </div>
        </div>
    </div>
{/block}
