extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    doctrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
    doctrine.dbal: Nettrine\DBAL\DI\DbalExtension
    doctrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
    doctrine.orm: Nettrine\ORM\DI\OrmExtension
    doctrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
    doctrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension
    doctrine.cache: Nettrine\Cache\DI\CacheExtension
    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

doctrine.orm.annotations:
    mapping:
        App\Entity: %srcDir%/Entity

doctrine.dbal:
    debug:
        panel: %debugMode%
    connection:
        driver: pdo_mysql
        host: %database.host%
        user: %database.user%
        password: %database.password%
        dbname: %database.name%

nettrine.migrations:
    directory: %srcDir%/Migrations















#extensions:
#    monolog: Contributte\Monolog\DI\MonologExtension
#    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
#    dbal: Nettrine\DBAL\DI\DbalExtension
#    nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
#    nettrine.cache: Nettrine\Cache\DI\CacheExtension
#    orm: Nettrine\ORM\DI\OrmExtension
#    orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
#    orm.console: Nettrine\ORM\DI\OrmConsoleExtension
#    migrations: Nettrine\Migrations\DI\MigrationsExtension
#
#dbal:
#    debug:
#        panel: %debugMode%
#    connection:
#        host: %database.host%
#        driver: pdo_mysql
#        dbname: %database.database%
#        user: %database.user%
#        password: %database.password%
#        charset: utf8mb4
#
#orm:
#    configuration:
#        proxyDir: '%tempDir%/proxies'
#        proxyNamespace: 'App\Proxy'
#        metadataDriverImpl: @orm.annotations.annotationDriver
#        entityNamespaces: []
#        customStringFunctions: []
#        customNumericFunctions: []
#        customDatetimeFunctions: []
#        customHydrationModes: []
#        namingStrategy: Doctrine\ORM\Mapping\UnderscoreNamingStrategy
#        defaultQueryHints: []
#
#orm.annotations:
#    mapping: [
#        App\Entity: %srcDir%/Entity
#    ]
#
#migrations:
#    directory: %srcDir%/Migrations
#    table: doctrine_migrations
#    namespace: App\Migrations



