search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
    templateDecorator: App\Template\TemplateDecorator(debugMode: %debugMode%)

    - App\Router\RouterFactory::createRouter
    - App\Utils\SrcDir(dir: '%srcDir%')

    - App\Majetek\ORM\AccountingEntityRepository
    - App\Majetek\ORM\EntityUserRepository

    - App\Majetek\Action\CreateEntityAction
    - App\Majetek\Action\EditEntityAction
    - App\Majetek\Action\AddEntityUserAction
    - App\Majetek\Action\DeleteEntityUserAction
    - App\Majetek\Action\AppointEntityAdminAction


includes:
    - services/user.neon

