{layout $adminlayoutPath}

{block content}

<div class="js-page-depreciations">
    <h1>Odpisy</h1>

    <div class="row mb-3">
        <div class="col-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link {if !$viewAccounting}active{/if}" n:href=":Admin:Depreciations:default, $selectedYear">Daňové</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {if $viewAccounting}active{/if}" n:href=":Admin:Depreciations:default, $selectedYear, accounting">Účetní</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="form-group d-flex mb-0" style="max-width: 300px; margin-right: 12px">
                        <label for="yearSelect" style="font-size: 1.5rem; margin-right: 17px; margin-bottom: 0">Rok:</label>
                        <select id="yearSelect"
                                class="form-select"
                                onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"
                                style="margin-top: 7px"
                        >

                            <option value="">{$selectedYear}</option>
                            {foreach $availableYears as $year}
                                {if $year !== $selectedYear}
                                    <option value="{plink :default, $year}">{$year}</option>
                                {/if}
                            {/foreach}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form n:name="editTaxDepreciationForm" class="edit-tax-depreciation-form">
        <div class="form-errors d-block" n:ifcontent>
            <div n:foreach="$form->getOwnErrors() as $error" class="alert alert-danger custom-alert mt-2">{$error}</div>
        </div>
        <div class="d-none">
            <input n:name="id" class="form-tax-depreciation-id">
            <input n:name="amount" class="form-tax-depreciation-amount">
            <input n:name="percentage" class="form-tax-depreciation-percentage">
            <input n:name="executable" type="checkbox" class="form-tax-depreciation-executable" checked>
        </div>
        <div class="form-errors d-block" n:ifcontent>
            <div n:foreach="$form['id']->getErrors() as $error" class="alert alert-danger custom-alert mt-2"><b>ID -</b> {$error}</div>
            <div n:foreach="$form['amount']->getErrors() as $error" class="alert alert-danger custom-alert mt-2"><b>Odpis -</b> {$error}</div>
            <div n:foreach="$form['percentage']->getErrors() as $error" class="alert alert-danger custom-alert mt-2"><b>Procento -</b> {$error}</div>
            <div n:foreach="$form['executable']->getErrors() as $error" class="alert alert-danger custom-alert mt-2"><b>Provést -</b> {$error}</div>
        </div>
    </form>

    <form n:name="editAccountingDepreciationForm" class="edit-accounting-depreciation-form">
        <div class="form-errors d-block" n:ifcontent>
            <div n:foreach="$form->getOwnErrors() as $error" class="alert alert-danger custom-alert mt-2">{$error}</div>
        </div>
        <div class="d-none">
            <input n:name="id" class="form-accounting-depreciation-id">
            <input n:name="amount" class="form-accounting-depreciation-amount">
            <input n:name="percentage" class="form-accounting-depreciation-percentage">
            <input n:name="executable" type="checkbox" class="form-accounting-depreciation-executable" checked>
        </div>
        <div class="form-errors d-block" n:ifcontent>
            <div n:foreach="$form['id']->getErrors() as $error" class="alert alert-danger custom-alert mt-2"><b>ID -</b> {$error}</div>
            <div n:foreach="$form['amount']->getErrors() as $error" class="alert alert-danger custom-alert mt-2"><b>Odpis -</b> {$error}</div>
            <div n:foreach="$form['percentage']->getErrors() as $error" class="alert alert-danger custom-alert mt-2"><b>Procento -</b> {$error}</div>
            <div n:foreach="$form['executable']->getErrors() as $error" class="alert alert-danger custom-alert mt-2"><b>Provést -</b> {$error}</div>
        </div>
    </form>

    <div class="row mb-4">
        <div class="col-12">
            {if $viewAccounting === false}
                <div class="card">
                    <div class="card-header">
                        Daňové odpisy
                    </div>
                    <div class="card-body">
                        <div class="px-3 card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered mt-3">
                                    <thead>
                                        <tr>
                                            <th>Majetek</th>
                                            <th>Typ</th>
                                            <th>Odp.sk.,způsob</th>
                                            <th>Rok odpisu</th>
                                            <th>VC</th>
                                            <th>Zvýš.VC</th>
                                            <th>Sazba</th>
                                            <th>%</th>
                                            <th>Odpis</th>
                                            <th>Oprávky</th>
                                            <th>ZC</th>
                                            <th>Provést</th>
                                            <th>Provedeno</th>
                                            <th>Akce</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {foreach $taxDepreciations as $depreciation}
                                        {var $depreciationId = $depreciation->getId()}

                                        {var $asset = $depreciation->getAsset()}
                                        <tr>
                                            <td>
                                                <a n:href=":Admin:Asset:depreciations, $asset->getId()">{$asset->getName()}</a>
                                            </td>
                                            <td>
                                                {$asset->getAssetType()->getName()}
                                            </td>
                                            <td>
                                                {var $taxGroup = $asset->getDepreciationGroupTax()}
                                                {if $taxGroup !== null}{$taxGroup->getFullName()}{/if}
                                            </td>
                                            <td>
                                                {$depreciation->getDepreciationYear()}
                                            </td>
                                            <td>
                                                {$depreciation->getEntryPrice()}
                                            </td>
                                            <td>
                                                {$depreciation->getIncreasedEntryPrice()}
                                            </td>
                                            <td>
                                                {$depreciation->getRate()}
                                            </td>
                                            <td>
                                                <span class="depreciationTax-percentage-text-{$depreciationId} js-edit-text-tax js-text-tax-{$depreciationId}">{$depreciation->getPercentage()}</span>
                                                <div class="form-group">
                                                    <input type="number"
                                                           class="depreciationTax-percentage-{$depreciationId} form-control js-edit-input-tax js-input-tax-{$depreciationId} js-percentage-input-tax"
                                                           style="display: none; min-width: 70px"
                                                           value="{$depreciation->getPercentage()}"
                                                           data-depreciation-id="{$depreciationId}"
                                                           data-base-amount="{round($depreciation->getBaseDepreciationAmount($editDepreciationCalculator))}"
                                                           data-tab-index="1"
                                                    >
                                                </div>
                                            </td>
                                            <td>
                                                <span class="depreciationTax-amount-text-{$depreciationId} js-edit-text-tax js-text-tax-{$depreciationId}">{$depreciation->getDepreciationAmount()}</span>
                                                <div class="form-group">
                                                    <input type="number"
                                                           class="depreciationTax-amount-{$depreciationId} form-control js-edit-input-tax js-input-tax-{$depreciationId} js-amount-input-tax"
                                                           style="display: none; min-width: 100px"
                                                           value="{$depreciation->getDepreciationAmount()}"
                                                           data-depreciation-id="{$depreciationId}"
                                                           data-base-amount="{round($depreciation->getBaseDepreciationAmount($editDepreciationCalculator))}"
                                                           data-tab-index="2"
                                                    >
                                                </div>
                                            </td>
                                            <td>
                                                {$depreciation->getDepreciatedAmount()}
                                            </td>
                                            <td>
                                                {$depreciation->getResidualPrice()}
                                            </td>
                                            <td>
                                                <div class="form-check depreciationTax-executable-text-{$depreciationId} js-edit-text-tax js-text-tax-{$depreciationId}">
                                                    <input class="form-check-input" type="checkbox" disabled {if $depreciation->isExecutable()}checked=""{/if}>
                                                </div>
                                                <div class="form-check">
                                                    <input style="display: none;"
                                                           class="form-check-input js-edit-executable-checkbox
                                                            depreciationTax-executable-{$depreciationId} js-edit-input-tax js-input-tax-{$depreciationId}"
                                                           type="checkbox" {if $depreciation->isExecutable()}checked{/if}
                                                           data-depreciation-id="{$depreciationId}"
                                                    >
                                                </div>
                                            </td>
                                            <td>
                                                <input class="form-check-input" type="checkbox" disabled {if $depreciation->isExecuted()}checked=""{/if}>
                                            </td>
                                            <td>
                                                {if !$depreciation->isExecuted()}
                                                    <div class="d-flex">
                                                        <button class="edit-depreciationTax-button btn-primary btn btn-sm js-edit-input-tax" style="display: none" data-depreciation-id="{$depreciationId}">OK</button>
                                                        <i class="fas fa-pencil-alt text-primary icon js-edit-text-tax js-edit-start-tax"
                                                           title="Upravit"
                                                           data-record-id="{$depreciationId}"
                                                        ></i>
                                                    </div>
                                                {/if}
                                            </td>
                                        </tr>
                                    {/foreach}
                                    </tbody>
                                </table>

                                <a class="btn btn-primary" n:href=":Admin:Depreciations:export, $selectedYear">Export MS Excel</a>
                            </div>
                        </div>
                    </div>
                </div>
            {else}
                <div class="card">
                    <div class="card-header">
                        Účetní odpisy
                    </div>
                    <div class="card-body">
                        <div class="table-responsive px-3 card-body">
                            <table class="table table-bordered mt-3">
                                <thead>
                                <tr>
                                    <th>Majetek</th>
                                    <th>Typ</th>
                                    <th>Odp.sk.,způsob</th>
                                    <th>Rok odpisu</th>
                                    <th>VC</th>
                                    <th>Zvýš.VC</th>
                                    <th>Sazba</th>
                                    <th>%</th>
                                    <th>Odpis</th>
                                    <th>Oprávky</th>
                                    <th>ZC</th>
                                    <th>Provést</th>
                                    <th>Provedeno</th>
                                    <th>Akce</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach $accountingDepreciations as $depreciation}
                                    {var $depreciationId = $depreciation->getId()}
                                    {var $asset = $depreciation->getAsset()}
                                    <tr>
                                        <td>
                                            <a n:href=":Admin:Asset:depreciations, $asset->getId()">{$asset->getName()}</a>
                                        </td>
                                        <td>
                                            {$asset->getAssetType()->getName()}
                                        </td>
                                        <td>
                                            {$asset->getCorrectDepreciationGroupAccountingName()}
                                        </td>
                                        <td>
                                            {$depreciation->getDepreciationYear()}
                                        </td>
                                        <td>
                                            {$depreciation->getEntryPrice()}
                                        </td>
                                        <td>
                                            {$depreciation->getIncreasedEntryPrice()}
                                        </td>
                                        <td>
                                            {$depreciation->getRate()}
                                        </td>
                                        <td>
                                            <span class="depreciationAccounting-percentage-text-{$depreciationId} js-edit-text-accounting js-text-accounting-{$depreciationId}">{$depreciation->getPercentage()}</span>
                                            <div class="form-group">
                                                <input type="number"
                                                       class="depreciationAccounting-percentage-{$depreciationId} form-control js-edit-input-accounting js-input-accounting-{$depreciationId} js-percentage-input-accounting"
                                                       style="display: none; min-width: 70px"
                                                       value="{$depreciation->getPercentage()}"
                                                       data-depreciation-id="{$depreciationId}"
                                                       data-base-amount="{round($depreciation->getBaseDepreciationAmount($editDepreciationCalculator))}"
                                                       data-tab-index="1"
                                                >
                                            </div>
                                        </td>
                                        <td>
                                            <span class="depreciationAccounting-amount-text-{$depreciationId} js-edit-text-accounting js-text-accounting-{$depreciationId}">{$depreciation->getDepreciationAmount()}</span>
                                            <div class="form-group">
                                                <input type="number"
                                                       class="depreciationAccounting-amount-{$depreciationId} form-control js-edit-input-accounting js-input-accounting-{$depreciationId} js-amount-input-accounting"
                                                       style="display: none; min-width: 100px"
                                                       value="{$depreciation->getDepreciationAmount()}"
                                                       data-depreciation-id="{$depreciationId}"
                                                       data-base-amount="{round($depreciation->getBaseDepreciationAmount($editDepreciationCalculator))}"
                                                       data-tab-index="2"
                                                >
                                            </div>
                                        </td>
                                        <td>
                                            {$depreciation->getDepreciatedAmount()}
                                        </td>
                                        <td>
                                            {$depreciation->getResidualPrice()}
                                        </td>
                                        <td>
                                            <div class="form-check depreciationAccounting-executable-text-{$depreciationId} js-edit-text-accounting js-text-accounting-{$depreciationId}">
                                                <input class="form-check-input" type="checkbox" disabled {if $depreciation->isExecutable()}checked=""{/if}>
                                            </div>
                                            <div class="form-check">
                                                <input style="display: none;"
                                                       class="form-check-input js-edit-executable-checkbox
                                                        depreciationAccounting-executable-{$depreciationId} js-edit-input-accounting js-input-accounting-{$depreciationId}"
                                                       type="checkbox" {if $depreciation->isExecutable()}checked{/if}
                                                       data-depreciation-id="{$depreciationId}"
                                                >
                                            </div>
                                        </td>
                                        <td>
                                            <input class="form-check-input" type="checkbox" disabled {if $depreciation->isExecuted()}checked=""{/if}>
                                        </td>
                                        <td>
                                            {if !$depreciation->isSameAsTax() && !$depreciation->isExecuted()}
                                                <div class="d-flex">
                                                    <button class="edit-depreciationAccounting-button btn-primary btn btn-sm js-edit-input-accounting" style="display: none" data-depreciation-id="{$depreciationId}">OK</button>
                                                    <i class="fas fa-pencil-alt text-primary icon js-edit-text-accounting js-edit-start-accounting"
                                                       title="Upravit"
                                                       data-record-id="{$depreciationId}"
                                                    ></i>
                                                </div>
                                            {/if}
                                        </td>
                                    </tr>
                                {/foreach}
                                </tbody>
                            </table>
                            <a class="btn btn-primary" n:href=":Admin:Depreciations:export, $selectedYear, accounting">Export MS Excel</a>
                        </div>
                    </div>
                </div>
            {/if}
        </div>
    </div>
</div>

{/block}
