<!DOCTYPE html>
<html lang="cs-CZ">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{ifset title}{include title|stripHtml} | {/ifset}BP</title>
	<link rel="stylesheet" href="{$basePath}/assets/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/bootstrap/sidebars.css">
	<link rel="stylesheet" href="{$basePath}/assets/css/custom.css">
</head>

<body>

	{foreach $flashes as $flash}
		<div class="alert alert-{$flash->type} alert-dismissible fade show flash-message" role="alert">
			<div class="flash-message-text">
				{$flash->message}
			</div>
			<span type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
		</div>
	{/foreach}

	{block body}
		{block content}

		{/block}
	{/block}

	{block scripts}

	{/block}

{*	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>*}

	<script src="{$basePath}/assets/js/jquery-3.7.0.min.js"></script>
	<script src="{$basePath}/assets/bootstrap/bootstrap.min.js"></script>
	<script src="{$basePath}/assets/js/custom.js"></script>

</body>
</html>
