{layout @layout.latte}
{block body}
    <main class="d-flex flex-nowrap">
        {control adminMenu, $currentEntity}

        <div class="main-content">
            <div class="container-fluid">
                {include content}
            </div>
        </div>
    </main>
{/block}

